<div id="about-me-page">
	<div>
		<h1>About me</h1>
		<div id="about-me-text">
			I'm Dustin, a 21 year old student in IT in the Netherlands.<br/><br/>
			I have always been interested in both technology space, and I'm a <br/>
			big fan of sci-fi shows. I have a good sense of humor, And I can always<br/>
			appreciate a joke.<br/><br/>
			Outside of coding and studying, I enjoy walking, planning large-scale,<br/>
			personal projects, and pursuing new adventures, including earning my <br/>
			skydiving license.
		</div>
	</div>
	<div id="about-me-slideshow">
		<ng-image-slider
			[images]="images"
			[autoSlide]="{interval: 1}"
			[imageSize]="{height:'280px', space: 0}"
			[infinite]="true"
		></ng-image-slider>
	</div>
</div>

