<div id="about-me-page">
	<div>
		<h1>About me</h1>
		<div id="about-me-text">
			I'm Dustin, a 22 year old student in Software Engineering in the Netherlands.<br/><br/>

			I’ve always been fascinated by technology, and outside of my studies I’m also a<br/>
			big fan of sci-fi. I enjoy bringing humor into my work and appreciate a good<br/>
			joke as much as a good line of code.<br/><br/>

			Beyond coding and studying, I like to stay active through walking and tackling<br/>
			ambitious personal projects. I also enjoy seeking out new experiences—like earning<br/>
			my skydiving license and chasing adventures wherever I can find them.<br/>
		</div>
	</div>
	<div id="about-me-slideshow">
		<ng-image-slider
			[images]="images"
			[autoSlide]="{interval: 1}"
			[imageSize]="{height:'280px', space: 0}"
			[infinite]="true"
		></ng-image-slider>
	</div>
</div>

