#about-me-page {
	background-color: var(--main-blue);
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 500px;
	margin-bottom: 100px;
}

#about-me-page h1 {
	font-size: 40px;
	font-weight: 100;
	margin-left: 100px;
	margin-bottom: 25px;
	text-shadow: 2px 2px rgb(180, 180, 180);
	color: var(--main-white);
}

#about-me-text {
	color: var(--main-white);
	margin-left: 100px;
}

#about-me-slideshow {
	margin-left: 100px;
	width: 400px;
	height: 280px;
	box-shadow: 2px 2px 10px var(--main-black);
}

@media (max-width: 600px) {
	#about-me-page {
		flex-direction: column;
		align-items: normal;
		margin-bottom: 20px;
	}
	#about-me-page h1 {
		margin-top: 100px;
		margin-left: 30px;
	}

	#about-me-text {
		margin-left: 25px;
		padding: 5px;
	}

	#about-me-slideshow {
		margin-left: 30px;
		width: 300px;
		margin-top: 50px;
		margin-bottom: 50px;
	}

}
