nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  z-index: 100;
  background: linear-gradient(to right, var(--main-salmon), var(--main-yellow));
  font-family: "RocknRoll One", serif;
	border-bottom: 1px solid var(--main-white);
}

#header-logo-name {
	width: 300px;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 20px;
}

#header-name,
#outer-navbar-list {
  display: inline-block;
}

#inner-navbar-list {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}
#inner-navbar-list a {
  display: inline-block;
  color: var(--main-black);
  text-decoration: none;
  transition: 250ms;
}
#inner-navbar-list a:hover {
	text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.25);
}

#inner-navbar-list a,
#header-name {
  background-color: var(--main-white);
  height: 40px;
  margin: 8px;
  border-radius: 5px;
  box-shadow: 8px 7px 7px rgba(0, 0, 0, 0.25);
	font-size: 18px;
	padding: 9px 10px;}

#header-logo {
  margin-left: 30px !important;
}

#header-name {
  font-size: 18px;
  padding: 9px 10px;
	width: 160px;
	text-align: center;
}

#header-logo {
	width: 60px;
	height: 60px;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  #inner-navbar-list {
    display: none;
  }

  #header-logo {
	display: none;
  }
}
