nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  z-index: 100;
  background-color: var(--main-blue);
  border-bottom: 1px solid var(--main-white);
}

#logo, #outer-navbar-list {
  display: inline-block;
}

#inner-navbar-list {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}
#inner-navbar-list a {
  display: inline-block;
  color: var(--main-black);
  text-decoration: none;
  transition: 250ms;
}
#inner-navbar-list a:hover {
  color: var(--main-blue);
}

#inner-navbar-list a,
#logo {
  background-color: var(--main-white);
  padding: 10px 20px;
  height: 40px;
  margin: 8px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px var(--main-black);
  font-size: 20px;
}

#logo {
  margin-left: 30px !important;
  cursor: pointer;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  #inner-navbar-list {
    display: none;
  }
}
