progress {
	width: 100%;
	height: 20px;
	appearance: none;
	background-color: whitesmoke;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 2px;
}

progress::-webkit-progress-value {
	background-color: var(--main-blue);
}
progress::-moz-progress-bar {
	background-color: var(--main-blue);
}

progress::-webkit-progress-bar,
progress::-moz-progress-bar {
	background-color: var(--main-blue);
}
