<main>
	<div id="card">
		<div id="card-top">
			<div id="card-pic">
				<img src="img/dustin-with-bg.png" alt="Dustin pic">
			</div>
			<div id="card-content">
				<div id="card-header">
					<h1 id="card-header-name">Dustin Joosen</h1>
					<p id="card-header-underline">dustinjoosen2003&#64;gmail.com</p>
				</div>
				<div id="card-ref-blocks">
					<a href="https://dustinjoosen.nl/DustinJoosen_CV.pdf" target="_blank"
					   class="card-ref-block" id="card-href-block-cv">
						<img src="img/cv.png" title="CV" alt="CV">
					</a>
					<a href="https://www.linkedin.com/in/dustin-joosen/" target="_blank"
					   class="card-ref-block" id="card-href-block-li">
						<img src="img/linkedin.png" title="LinkedIn" alt="LinkedIn">
					</a>
					<a href="https://github.com/DustinJoosen" target="_blank"
					   class="card-ref-block" id="card-href-block-gi">
						<img src="img/square-github.png" title="Github" alt="Github">
					</a>
				</div>
			</div>
		</div>
		<div id="card-bottom">
			<div id="card-footer">
				<div id="card-footer-phone">
					<img src="img/phone.png" alt="">
					+31 638296263
				</div>
				<div id="card-footer-site">
					<img src="img/site.png" alt="">
					<a target="_blank" href="https://dustinjoosen.nl">dustinjoosen.nl</a>
				</div>
			</div>
		</div>
	</div>
</main>
