footer {
	height: 70px;
	background-color: var(--main-white);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer p {
	margin-left: 80px;
}

@media (max-width: 600px) {
	footer {
		justify-content: center;
	}

	footer p {
		margin-left: 0;
		text-align: center;
	}

	#footer-links {
		display: none;
	}
}

#footer-links {
	margin-right: 100px;
}

#footer-links a {
	text-decoration: none;
	margin: 3px;
	padding: 5px;
}
img {
	height: 40px;
}

