#start-page {
	width: 100vw !important;
	margin-top: 150px;
	display: flex;
}

#start-page h1 {
	font-size: 40px;
	font-weight: 100;
	margin-left: 100px;
	margin-top: 50px;
	margin-bottom: 25px;
	text-shadow: 2px 2px rgb(180, 180, 180);
}

#start-page p {
	margin-left: 100px;
	margin-top: 20px;
	width: 600px;
	text-wrap: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.auto-written-name {
	color: var(--main-blue);
}
.auto-written-name::after {
	content: "";
	display: inline-block;
	margin-left: 5px;
	width: 2px;
	height: 30px;
	background-color: var(--main-blue);
	animation: blink 1s step-end infinite;
}

.dustin-picture-holder {
	height: 540px;
	overflow: hidden;
	width: 800px;
	position: relative;
	right: -100px;

}

#dustin-picture-oval {
	height: 600px;
	width: 780px;
	background-color: #d9d9d9;
	border-radius: 50%;
	margin-top: 10px;
	transform: rotate(18.511deg);
	z-index: 2;
}

#dustin-picture {
	width: 360px;
	float: right;
	transform: rotate(-18.511deg);
	position: relative;
	right: 200px;
	top: 50px;
	z-index: 3;
}

.typeit-cursor {
	color: var(--main-blue) !important;
}

@media (max-width: 600px) {
	#start-page {
		display: block;
	}
	#start-page-text {
		padding-left: 25px;
	}

	#start-page-text h1 {
		font-size: 30px;
		margin-left: 0;
		margin-top: 50px;
		max-width: 80%;
	}

	#start-page p {
		margin-left: 0;
		max-width: 80%;
	}

	.dustin-picture-holder {
		margin-top: 30px;
		left: 20px;
		height: 300px;
		width: 90%;
	}

	#dustin-picture-oval {
		width: 300px;
		height: 245px;
		box-shadow: 2px 2px 10px #d9d9d9;
		overflow: hidden;
	}

	#dustin-picture {
		width: 150px;
		right: 50px;
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
