<div id="contests-page">
	<div id="contests-info">
		<h1>Contests</h1>
		<div class="contest" id="contests-skills-heroes">
			<h2>Skills Heroes</h2>
			<p>
				Skills heroes is a big contest where people get the chance to represent<br/>
				their own discipline. I have participated in 2022, where I made it<br/>
				through 3 rounds into the national finale, placing 7th. This was an<br/>
				amazing experience.<br/>
			</p>
		</div>
		<div class="contest" id="contests-cloudfight">
			<h2>Cloudflight coding contest</h2>
			<p>
				I have participated in 4 editions of the cloudflight coding contest.<br/>
				I don't see myself ever not participating when it happens.<br/>
				While never being close to finishing and winning,<br/>
				It's never boring and I always end the day happy.<br/>
			</p>
		</div>
		<div class="contest" id="contests-advent-of-code">
			<h2>Advent Of Code</h2>
			<p>
				I've tried out the 2023 edition of Advent of Code. Every day I would recieve a<br/>
				Coding puzzle, which I had to try to solve. This experience greatly helped<br/>
				develop my problem-solving skills, and I am already preparing for the 2024 edition.<br/>
			</p>
		</div>
	</div>
	<div id="contests-pictures">
		<img id="contests-picture-skills-heroes" src="https://dustinjoosen.nl/lib/img/voorronde.jpg" alt="">
		<img id="contests-picture-cloudfight" src="https://dustinjoosen.nl/lib/img/ccc-logo.jpg" alt="">
	</div>
</div>
