<div id="start-page">
	<div id="start-page-text">
		<h1>Hi. I am <span class="auto-written-name"></span></h1>
		<p>
			Programming has always been my biggest hobby, which is something I want
			to pursue in my career.
		</p>
		<p>
			I'm passionate about developing solutions to challenges and continuously
			improving my skills through hand-on-projects. These projects range from
			management applications, to a custom ORM, to even a ROM-hack.
		</p>
		<p>
			In this fast-evolving world of technology, I'm excited to see where the endless
			possibilities will take me.
		</p>
	</div>
	<div class="dustin-picture-holder">
		<div id="dustin-picture-oval">
			<img id="dustin-picture" src="img/dustin.png" alt="Picture of Dustin" />
		</div>
	</div>
</div>
